body {
    width: auto;
    height: auto;
    background-image: url('../body1.jfif');
 }
 header {
   
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 4;
    color: #8ad7ee;
 }
 .header.active{
    animation: slide_in 500ms ease forwards;
}
@keyframes slide_in {
    0% {transform: translate(-100);}
   100% {transform: translate(0);}
}
.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    list-style: none;
}
.navbar {
    padding: 10px;
    box-shadow: rgba(105, 91, 91, 0.671);
    z-index: 4;
    color: aqua;
    list-style: none;
    gap: 200px;
    text-align: center;
    margin-left: 150px;
}

.navbar.active {
    visibility: visible;
}
.navbar,
.navbar-list,
.navbar-wrapper{
    display: flex;
    gap: 16px;
    list-style: none;
    font-size: large;
}
.navbar-link,
.btn-link {
    color: black;
    padding: 8px 12px;
}
.btn-link{
    border-block-start: 1px solid var(--neutral-90);
    padding-block-start: 34px;
}
:is(.navbar-link, .btn-link):is(:hover, :focus-visible),
.navbar-link.active{ color: rgb(47, 71, 179);}
.navbar .btn { min-width: 100px;}

.hero {
    position: relative;
    padding-block: 130px, 60px;
    overflow: visible;
    isolation: isolate;
}
.hero-title {
    color: var(--neutral-100);
}
.hero-text {
    margin-block: 16px 32px;
}

.search-bar {
    background: var(--white);
    display: grid;
    padding: 9px;
    gap: 8px;
    border-radius: 16px;
    box-shadow: var(--shadow-4);
}
.search-item {
    position: relative;
    color: var(--neutral-50);
}
.search-item .search-item-field {
    background-color: rgb(255, 255, 255);
    height: 50px;
    padding: 10px 12px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.search-item .search-item-field:where(:hover, :focus) {
    background-color: rgb(162, 255, 0);

}
.search-item:where(.label, .material-symbols-rouneded) {
    position: absolute;
}

.search-item.label {
    top: 12px;
    left: 16px;
    color: rgb(29, 206, 29);
}

.search-btn {
    background: rgb(3, 243, 83);
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 500px;
    padding-inline: 24px;
    gap: 12px;
    border-radius: 16px;
    font-size: 16px;
}
.search-btn:where(:hover, :focus) { background-color: rgb(8, 165, 8);}

.search-btn:where(:active, :focus-visible) { background-color: darkgreen;}

.hero .pattern {
    position: absolute;
    top: 0%;
    pointer-events: none;
    z-index: -2;
}
.property { padding-block-start: 60}
.property .section-text {
        margin-block: 8px 16px;
        color: var(--neutral-30);
    }

    .property-list {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 16px;
    }

    .material-symbols-rounded {
        display: block;
        width: 1em;
        height: 1em;
        overflow: hidden;
        font-variation-settings: 
        'Fill' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    }
   .container {
    padding-inline: 16px;
    max-width: 500px;
    width: 100%;
    

}
 
 .section { padding-block-end: 60px;}
 
 .tilte-wrapper { margin-inline-end: 32px;}

 .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--neutral-100);
    overflow: visible;

}

.img-cover {
    width: 1100px;
    height: 500px;
    object-fit: cover;
    



}

.pattern {visibility: visible;
    height: 30px;



}

.hero-content {
    color: rgb(255, 208, 0);
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.425);
    
}

.btn {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 12px;
    height: 48px;
    padding-inline: 24px;
    border-radius: var(--radius-full);
    max-width: max-content;
    transition: var(--transition-duration-quick) var(--transition-easing-quick);
    
}

.btn-fill {
    background-color: green;
    color: rgb(25, 35, 58);
    border-radius: 50px;
}

.btn-fill:where(:hover, :focus) {
   background-color: rgb(46, 109, 145);
   box-shadow: var(--shadow-1); 
}


.btn-fill:where(:active, :focus-visible) {
    background-color: var(--primary-80);
    
}
.btn-outline {
    color: black;
    box-shadow: inset 0 0 0 3px;
    border-radius: 80px;
    background-color: rgb(48, 115, 240);
}


.icon-btn  {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: 900px;
    background-color: var(--neutral-100);
    color: var(--neutral-10);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-3);
    transition: var(--transition-easing-quick) var(--transition-easing-quick);

}



.icon-btn:where(:hover, :focus-visible){ background-color: var(--neutral-90); }

.property { padding-block-start: 60px;}

.property .section-text {
    margin-block: 8px 16px;
    color: var(--neutral-30);
}

.property-list {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;

}
.icon-btn  {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: 900px;
    background-color: var(--neutral-100);
    color: var(--neutral-10);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-3);
    transition: var(--transition-easing-quick) var(--transition-easing-quick);

}



.icon-btn:where(:hover, :focus-visible){ background-color: var(--neutral-90); }


.label-medium {
    height: 50px;
    width: 100px;
    border-radius: 50px;
}

.property { padding-block-start: 60px;}

.property .section-text {
    margin-block: 8px 16px;
    color: var(--neutral-30);
}

.property-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;

}


.video-card {
    height: 200px;
    border-radius: 50px;
    background-color: linear-gradient(0deg, #0000004d, #0000004d), url('../ultima.MP4');
    background-repeat: repeat;
    
    display: flex;
    place-items: center;
 }
 .footer {
    background-color: #b5c2d4;
    color: #f2f5fa;
    text-align: center;
    width: 1000px;
    height: 500px;
}

.footer-top .container {
    padding-block: 60px;
    display: flex;
    gap: 20px;
}



.footer-text { margin-block: 16px;}

.footer-list-title { margin-block-end: 16px;}

.footer-list {
  display: grid;
  gap: 20px;
  list-style: none;
  
}

.footer-link:where(:hover :focus-visible) {
    color: rgb(82, 82, 82);
}

.social-list {
    display: flex;
    gap: 16px;
}

.footer-bottom {
    border-block-start: 1px solid #071833;
}

.footer-bottom .container {
    padding-block: 10px;
    display: flex;
    justify-content: center;
}

.section-footer-link {
    display: flex;
}

.property { padding-block-start: 80px;}

.property .section-text {
    margin-block-start: 0;
}
.card :where(.badge, .icon-btn) {
    position: relative;
    top: 0px;
    left: 20px;
    background-color: #2179FF;
}
.card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: #0000000d;
    transition: 280ms cubic-bazier(0, 0.7, 0.3, 1);

}

.card:where(:hover, :focus-within) {box-shadow: #0000001a;}

.card-banner { position: relative;}
.card-banner .img-cover {
    transition: 500ms cubic-bazier(0, 0.7, 0.3, 1);
}

.card:where(:hover, :focus-within) .img-cover {
    scale: 1.05;
    rotate: 3deg;
}

.card :where(.badge, .icon-btn) {
    position: absolute;
    top: 20px;
}

.card .badge { left: 20px;}

.card .icon-btn {
    right: 20px;
    /*opacity: 0;
    visibility: hidden;
    scale: 0.8;*/
    transition: var(--transition-duration-quick) var(--transition-easing-quick);}

.fav-btn {
    color: rgb(0, 0, 0);
    border-radius: 50px;
}
.fav-btn:active .material-symbole-rounded {
    font-variation-settings: 'fill' 1;
}

.card-content {padding: 20px 20px 24px;}

.card-title {
    margin-block: 5px;
    color: rgb(150, 426, 150);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: Ollipsis;
    transition: 100px 100px;
}

.card-title:where(:hover, :focus-visible) {
    color: rgb(154, 226, 255);
}
.card-text { color: rgba(154, 226, 255);}
.card-meta-list {
    padding-block-start: 16px;
    margin-block-start: 16px;
    display: flex;
    color: #00ffdd;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.btn-buy {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(93, 184, 9);
}
.btn-buy:where(:hover, :focus) {
    background-color: #8ad7ee;
}
main {
    background-color: rgba(255, 183, 0, 0.603);
    text-align: 0;
    
}
